<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-yz3EAslxmQVvbdmTPSCzGvE6RDAW1Tw</string>
	<key>GCM_SENDER_ID</key>
	<string>752023303740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srpallab.jaanPakhiChat</string>
	<key>PROJECT_ID</key>
	<string>jann-pakhi-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>jann-pakhi-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752023303740:ios:69e1e7f64282b0b80a7539</string>
</dict>
</plist>